<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Test Plan -->
<suite name="API_AUTO_TEST" verbose="1" preserve-order="true" parallel="false">
    <parameter name="apiConfigName" value="orderservice.properties"></parameter>
    <!-- Thread Group -->
    <test name="自动化测试用例">
        <parameter name="apiConfigName" value="orderservice.properties"></parameter>
        <classes>
            <!-- Simple Controller -->
            <class name="com.abcnull.apiautotest.cases.ApiTest">
                <parameter name="apiConfigName" value="orderservice.properties"></parameter>
                <parameter name="excelName" value="orderservice.xls"></parameter>
                <parameter name="sheetName" value="orderservice"></parameter>
                <methods>
                    <include name="apiTest"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>
